nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    width: 100%;

    & picture {
        flex: 1;
        margin: .25em;

        & img {
            display: block;
            width: 75px;
            height: 55px;
        }
    }

    & ul {
        display: flex;
        flex: 1 auto;
        justify-content: start;
        align-items: center;
        margin: auto;
        list-style: none;

        & li { 
            margin-inline: 1em;

            & a {
                color: var(--text);
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}


.active {
    font-style: normal;
    font-weight: 900;
    letter-spacing: .075em;
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
}